@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 600;
}

body {
    background-color: #02141e;
}

.heading-items {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading {
    font-size: 12vh;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subheading { 
    background: #772a9b;
    background: linear-gradient(90deg, rgba(119, 42, 155, 1) 0%, rgba(87, 199, 133, 1) 39%, rgba(237, 221, 83, 1) 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation {
    background: #073249;
    height: 100px;
    width: 100vw;
    padding: 7px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    align-self: center;
}

.nav-btn {
    height: 10vh;
    width: 70vw;
}

.media {
    margin-top: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.history {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.history-text {
    margin: 10px;
}

img {
    height: 130px;
}